$tagPaddingY: 8px;
$tagPaddingX: 14px;

.kolo-grid {
  display: grid;
  margin-top: 30px;
  padding-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
  align-items: stretch;
  justify-items: stretch;

  @include ss('tablet') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include ss('desk') {
    grid-template-columns: repeat(4, 1fr);
  }

  // warianty: .kolo-grid__item-image, .kolo-grid__item-picture, .kolo-grid__item-dark
  &__item {
    border-radius: $radiusBig;
    position: relative;
    min-height: 220px; 
    @include ss('tablet') {
      min-height: 250px; 
    }
    @include ss('desk') {
      min-height: 275px; 
    }
    &-image {
      background-color: $colorGrey100;
      .image-wrapper {
        width: 100%;
        height: 100%;
        position: absolute; 
        left: 0;
        top: 0;
        z-index: 0;
      }
      img {
        transition: all 1.2s ease;
        position: absolute; 
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%) scale(1.01);
      }
      &:hover {
        img {
          opacity: .7;
          transform: translate(-50%, -50%) scale(1.06);
        }
      }
    }
    & > a {
      position: relative;
      border-radius: $radiusBig;
      height: 100%;
      width: 100%;
      padding: 25px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      z-index: 1;
    }
    &-title {
      margin-top: auto;
      h2 {
        font-size: 22px;
        color: $colorGrey0;
        letter-spacing: -0.01em;
        .dark & {
          color: $colorGrey0;
        }
      }
      p {
        margin: 0;
      }
    }
    &.col-span {
      &-1 {
        grid-column-start: span 1;
      }
      &-2 {
        grid-column-start: span 1;
        @include ss('desk') {
          grid-column-start: span 2;
        }
      }
      &-3 {
        grid-column-start: span 1;
        @include ss('tablet') {
          grid-column-start: span 2;
        }
        @include ss('desk') {
          grid-column-start: span 3;
        }
      }
    }
    &.col-row {
      &-1 {
        grid-row-start: span 1;
      }
      &-2 {
        grid-row-start: span 1;
        @include ss('desk') {
          grid-row-start: span 2;
        }
      }
    }
  }
}

.kolo-tag {
  font-size: 12px;
  text-transform: uppercase;
  color: $colorGrey0;
  line-height: 1em;
  font-family: 'kolo_medium';
  padding-top: $tagPaddingY;
  padding-bottom: $tagPaddingY;
  padding-left: $tagPaddingX;
  padding-right: $tagPaddingX;
  border-radius: calc(1em + #{$tagPaddingX} * 2);
}