/*
    Common styles for all brands (TODO)
*/

.simple-slider .prev,
.simple-slider .next,
.product-content input.next,
.product-content input.prev {
    background-image: url(/content/images/carouselButtons.png);
    background-repeat: no-repeat;
}

.simple-slider .next {
    background-position: -44px 0px;
}

.simple-slider .prev:hover {
    background-position: -88px 0;
}

.simple-slider .next:hover {
    background-position: -132px 0;
}

.scroll {
    background-image: url(/content/images/verticalButtons.png);
    background-repeat: no-repeat;
}

.product-content input.next {
    background-position: -54px 47%;
}

.product-content input.prev {
    background-position: -11px 47%;
}

.product-content input.next:hover {
    background-position: -142px 47%;
}

.product-content input.prev:hover {
    background-position: -98px 47%;
}

.scroll {
    background-image: url(/content/images/verticalButtons.png);
    background-repeat: no-repeat;
}

.scrollBottom {
    background-position: -44px 0px;
}
