@mixin vh() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

label {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {

  @include vh();

  + label {
    position: relative;
    padding: 6px 0 0 40px;
    margin-bottom: 1rem;
    user-select: none;
    color: $colorGrey100;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid $colorGrey30;
      border-radius: 4px;
      background: $colorGrey0;
      background-repeat: no-repeat, repeat;
      background-position: center;
      text-align: center;
      transition: background 200ms ease-out;
    }

    &:after {
      content: "";
      position: absolute;
      transform: scale(0);
      transition: transform 200ms ease-out;
    }
  }
}

input[type="checkbox"] {
  + label {
    &:hover {
      &:before {
        border: 2px solid $colorGrey80;
      }
    }
  }

  &:disabled {
    + label {
      &:before {
        background: $colorGrey30;
        background-image: url("../icons/checked-disabled.svg");
        background-repeat: no-repeat, repeat;
        background-position: center;
      }

      &:hover {
        &:before {
          cursor: default;
          border: 1px solid $colorGrey30;
        }
      }
    }
  }

  &:checked {
    + label {
      &:before {
        content: "";
        //change checked background color
        background: $colorGrey100;
        background-image: url("../icons/checked.svg");
        background-repeat: no-repeat, repeat;
        background-position: center;
      }

      &:after {
        content: "";
        opacity: 1;
      }
    }
  }
}

input[type="radio"] {
  + label {
    &:before,
    &:after {
      border-radius: 50%;
    }

    &:after {
      left: 6px;
      top: 6px;
      width: 12px;
      height: 12px;
    }

    &:hover {
      &:before {
        border: 2px solid $colorGrey80;
      }
    }
  }

  &:checked {
    + label {
      &:before {
        animation: borderscale 300ms ease-in;
      }

      &:after {
        background: $colorGrey100;
        transform: scale(1);
      }
    }

    &:disabled {
      + label {
        cursor: default;

        &:before {
          animation: borderscale 300ms ease-in;
        }

        &:after {
          background: $colorGrey50;
          transform: scale(1);
        }

        &:hover {
          &:after,
          &:before {
            cursor: default;
          }

          &:before {
            border: 1px solid $colorGrey30;
          }
        }
      }
    }
  }

  &:disabled {
    + label {
      cursor: default;

      &:hover {
        &:after,
        &:before {
          cursor: default;
        }

        &:before {
          border: 1px solid $colorGrey30;
        }
      }
    }
  }
}
