/* ==========================================================================
 MAIN DOWNLOADS
 ========================================================================== */

/* ==========================================================================
 FILTERS
 *========================================================================== */

.downloads-filtersUp {
    padding: 20px 20px 0 20px;

    h3 {
        display: inline-block;
        float: left;
        padding: 7px 5px 0 0;
        text-transform: uppercase;
    }

    .styled-select-light {
        display: inline-block;
        margin-right: 5px;
        width: 180px;
    }
}

.downloads-filters, 
.results-panel {
    .style-input {
        display: inline-block;
        margin-right: 5px;

        input {
            width: 170px;
        }
    }
}

.underline {
    height: 1px;
    margin-top: 10px;
    position: relative;
    top: 1px;
    width: 100%;
}

.lt-ie8 {
    .downloads-filtersUp {
        .styled-select-light,
        .style-input {
            display: inline;
            zoom: 1;
        }

        h3 {
            height: 40px;
            line-height: 20px;
            margin-right: 10px;
        }
    }

    .downloads-filters .style-input {
        padding-bottom: 14px;
    }
} 

.small-filters.downloads-filtersDown {
    margin-top: 1px;
    padding: 2%;
}

.downloads-leftFilters {
    float: left;
    margin-left: 10px;
    max-width: 800px;

    .styled-select-light {
        margin-bottom: 10px;

        &.selectall {
            display: block;
            margin: 0;
            width: auto;
        }
    }
}

.downloads-rightFilters {
    float: right;
    margin-left: 10px;

    button {
        margin: 0 10px;
    }

    > div:last-child {
        margin-right: 0;
    }
}

.brochures-list {
    .button {
        bottom: 30px;
        margin: 3px 0 0 5px;
        padding: 5px 10px;
        position: absolute;
        right: 5px;

        &:hover {
            text-decoration: none !important;
        }
    }
}

/* ==========================================================================
 MAIN PANELS
 *========================================================================== */

.firstPanel {
    height: 600px;

    p {
        line-height: 600px;
        text-align: center;
    }
}

.downloads-mainPanel {
    ul li {
        overflow: hidden;
        padding: 20px 0;

        p.firstLine
        /*.downloads-mainPanel ul li p.secondLine*/ {
            font-weight: bold;
            word-wrap: break-word;
        }

         img {
            float: left;
         }
    }

    .textWrap {
        float: left;
        max-width: 55%;
    }

    .button {
        text-align: center;
    }

    .btnMore {
        text-align: center;

        button {
            margin-top: 20px;
            margin: 0 auto;
        }
    }
}

body:not(.pageeditor) {
    .downloads-leftFilters {
        max-width: 800px;
        width: 100%;

        .select-filter {
            background-color: #fff;
            float: left;

            .default-value {
                background-color: #fff;
            }
        }

        .checkbox-list {
            .default-value {
                padding-right: 30px;
            }
        }
    }
       
    .downloads-filters, 
    .results-panel {
        .underline {
            width: 100%;
        }
    }

    .downloads-filters-new, 
    .downloads-filters {
        border: none;
    }

    .downloads-filters-new {
        padding: 2% 2% 0;

        .search {
            background-color: #FFF;
            border: 1px solid;
            box-sizing: border-box;
            display: inline-block;

            input {
                background: none;
                border: none;
                padding: 10px;

                &[type="submit"] {
                    background-image: url("/content/images/light_search.jpg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    cursor: pointer;
                    text-indent: -10000px;
                    width: 40px;
                }
            }
        }
    }

    .downloads-leftFilters-new {
        margin-left: 0;
        max-width: 100%;

        .select-filter {
            background-color: #000;
            margin-bottom: 1%;
            margin-right: 2%;
            width: 22.5%;

            .checkbox-list {
                .default-value {
                    background-color: #000;
                    background-image: url("/content/images/arrowWhiteNew.png");
                    background-position: 95% center;
                    background-size: 15px;
                    color: #FFF;
                    height: inherit;
                    line-height: inherit;
                    padding: 15px 60px 15px 15px;
                }

                &.opened {
                    .default-value {
                        background-image: url("/content/images/arrowWhiteTopNew.png");
                    }
                }

                .jspContainer {
                    .jspPane {
                        .button {
                            float: none;
                            margin-top: 10px;
                        }
                    }
                }

                .checkboxes-end {
                    height: auto;

                    .button {
                        float: none;
                        margin: 10px;
                    }
                }
            }
        }

        /*.jspPane input#CheckBoxID {
            display: block;
            height: 25px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }*/
    }

    .downloads-active-filters {
        position: relative;

        h2 {
            font-size: 22px;
            margin-bottom: 30px;
        }

        .clear-all-active-filters {
            font-size: 22px;
            line-height: 1.8;
            position: absolute;
            right: 20px;
            top: 20px;

            span {
                background-color: #000;
                background-image: url("/content/images/closeWhiteNew.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 15px;
                cursor: pointer;
                display: inline-block;
                float: right;
                margin: 0 0 0 20px;
                padding: 20px;
                position: relative;

                input {
                    cursor: pointer;
                    height: 100%;
                    left: 0;
                    margin: 0;
                    opacity: 0;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
            
        .active-filters {
            .active-filters-element {
                background-color: #FFF;
                box-sizing: border-box;
                float: left;
                height: 45px;
                margin-bottom: 10px;
                margin-right: 20px;
                padding: 10px 35px 10px 15px;
                width: 202px;

                &:nth-child(5n) {
                    margin-right: 0;
                }

                > span {
                    display: block;
                    position: relative;
                    top: 50%;
                    -ms-transform: translate(0px, -50%);
                    -webkit-transform: translate(0px, -50%);
                    transform: translate(0, -50%);
                }

                .active-filters-clear {
                    background-color: transparent;
                    background-image: url("/content/images/closeBlueNew.png");
                    background-position: 95% center;
                    background-repeat: no-repeat;
                    background-size: 15px;
                    border: none;
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    text-indent: -10000px;
                    top: 50%;
                    -ms-transform: translate(0px, -50%);
                    -webkit-transform: translate(0px, -50%);
                    transform: translate(0px, -50%);
                    width: 15px;
                }
            }
        }
    }

    .subcategories-page {
        .filters {
            .marker-item, 
            .clearBtn.button {
                background-color: #FFF;
                box-sizing: border-box;
                float: left;
                height: 40px;
                line-height: 1.8;
                margin-bottom: 10px;
                margin-left: 0;
                margin-right: 10px;
                padding: 10px 35px 10px 15px;
                width: auto;
            }

            .clearBtn.button {
                /*float: right;*/
                float: none;
                display: table-cell;
                padding: 10px 15px;
                /*width: 14%;*/
                white-space: nowrap;

                &:hover {
                    color: inherit;
                }
            }
        }
    }

    .downloads-filters-new, 
    .downloads-leftFilters-new, 
    .downloads-active-filters, 
    .results-panel {
        .underline {
            background: #000;
            margin-top: 20px;
        }
    }

    .results-panel {
        h2 {
            font-size: 22px;
            margin-bottom: 10px;
        }
            
        .underline {
            background-color: #000;
            height: 3px;
            margin-top: 10px;
        }

        .downloads-filters {
            .underline {
                background-color: #FFF;
                height: 1px;
            }
        }

        .ez-checkbox {
            background-color: #FFF;
            border: 1px solid #9ba0a4;
            box-sizing: border-box;
            display: inline-block;
            margin: 0 20px 0 0;
            height: 40px;
            width: 40px;

            &.ez-checked {
                background-color: #FFF;
                background-image: url("/content/images/tick-check-selected.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 25px;
                border-color: #9ba0a4;
            }
        }

        .results {
            .empty {
                //width: 5%;
            }

            * {
                box-sizing: border-box;
            }

            .textWrapTitle, 
            .textWrap, 
            .buttonDownload {
                display: inline-block;
                vertical-align: top;
            }

            .textWrapTitle, 
            .textWrap {
                &.fileName {
                    width: 28%;
                    padding-left: 60px;
                }

                &.fileType {
                    width: 18%;
                }

                &.product {
                    width: 30%;
                }
            }

            .buttonDownload {
                text-align: right;
            }

            ul {
                li {
                    border-bottom: 1px solid;
                    clear: both;
                    padding: 20px 0;

                    .ez-checkbox {
                        margin-right: -60px;
                        position: relative;
                        z-index: 10;
                    }

                    .textWrap {
                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }

            .typeFileSpan {
                display: none;
            }

            .button, 
            .mobileMoreInfo {
                img {
                    display: none;
                }
            }
        }
    }

    .downloads-mainPanel {
        .textWrap {
            float: none;
        }
    }
}

/* ==========================================================================
 @MEDIA QUERIES
 *========================================================================== */

/* Large desktop display */
@media (max-width: 1380px) {
    body:not(.pageeditor) {
        .downloads-leftFilters {
            .styled-select-light {
                &.selectall {
                    //float: left;
                    display: block;
                    height: 23px;
                    //margin: 5px 0 0 0;
                    width: auto;

                    .ez-checkbox {
                        //float: right;
                        margin: 10px 5px 0px 0px;
                    }
                }
            }
        }

        .downloads-mainPanel {
            .textWrap {
                max-width: 50%;
            }
        }

        .downloads-active-filters {
            .active-filters {
                .active-filters-element {
                    width: 212px;

                    &:nth-child(4n) {
                        margin-right: 0;
                    }

                    &:nth-child(5n) {
                        margin-right: 20px;
                    }
                }
            }
        }

        .results-panel {
            .results {
                .textWrapTitle, 
                .textWrap {
                    //max-width: 350px;
                }
            }
        }
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 979px) {
    body:not(.pageeditor) {
        .downloads-leftFilters {
            float: none;
            max-width: none;

            .styled-select-light {
                padding-bottom: 0;
                width: 155px;

                &.selectall {
                    float: left;
                }
            }
        }

        .downloads-filters .underline {
            width: 100%;
        }

        .downloads-mainPanel {
            .textWrap {
                float: none;
            }
        }

        .downloads-mainPanel {
            .textWrap {
                max-width: 100%;
            }
        }

        .downloads-leftFilters-new {
            ul {
                width: 100%;
            }

            .select-filter {
                width: 32%;

                &:nth-child(3n) {
                    margin-right: 0;
                }

                /*&:nth-child(4n), &:nth-child(5n) {
                    margin-right: 20px;
                }*/
            }
        }

        .downloads-active-filters {
            .active-filters {
                .active-filters-element {
                    width: 210px;

                    &:nth-child(3n) {
                        margin-right: 0;
                    }

                    &:nth-child(4n), &:nth-child(5n) {
                        margin-right: 20px;
                    }
                }
            }
        }

        .results-panel {
            .results {
                .textWrapTitle, 
                .textWrap {
                    //max-width: 250px;

                    &.product {
                        width: 26%;
                    }
                }

                a.button {
                    //width: 110px;
                }

                ul {
                    li {
                        .textWrap {
                            p {
                                word-break: break-all;
                            }
                        }
                    }
                }
            }
        }

        .subcategories-page {
            .filters {
                .marker-item, 
                .clearBtn.button {
                    height: auto;
                    min-height: 40px;
                    padding: 10px 35px 8px 15px;
                }
            }
        }
    }
}


/* Mobile */
@media (max-width: 767px) {
    body:not(.pageeditor) {
        .downloads-filtersUp .styled-select-light,
        .downloads-leftFilters .styled-select-light,
        .downloads-rightFilters .styled-select-light,
        .downloads-filters .style-input,
        .downloads-filters .style-input input {
            width: 100%;
        }

        .downloads-mainPanel {
            .textWrap {
                max-width: 100%;
            }
        }
        
        .downloads-filtersUp {
            padding: 4% 0;

            h3 {
                display: none;
            }
        }

        .downloads-filters {
            .underline {
                margin-top: 4%;
                width: 100%;
            }

            .style-input {
                display: block;
                margin-left: 0;
                margin-right: 0;
                padding-bottom: 2%;

                input {
                    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                    -moz-box-sizing: border-box; /* Firefox, other Gecko */
                    box-sizing: border-box; /* Opera/IE 8+ */
                }
            }
        }

        .downloads-leftFilters {
            .styled-select-light {
                &.selectall {
                    float: left;
                }
            }
        }

        .small-filters {
            &.downloads-filtersDown {
                margin-top: 0;
                padding: 0 0 4%;
            }

            &.small-filters-new {
                .styled-select-light {
                    width: 40%;
                }

                button {
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }

        .downloads-leftFilters,
            .downloads-rightFilters {
                //float: none;
                margin-left: 0;
                max-width: 100%;

                button {
                margin: 0;
            }

            .styled-select-light {
                display: block;
                margin-bottom: 3%;
            }
        }

        .downloads-rightFilters {
            button {
                margin-left: 10px;
            }
        }

        #download-selected {
            margin: 0;
        }

        .downloads-mainPanel {
            &.firstPanel {
                display: none;
            }

            &.secondPanel button.rightFloat {
                float: none;
            }

            .textWrap {
                /*display: inline-block;
                width: 50%;*/
                //width: 86.8%;
            }
        }

        .downloads-mainPanel .textWrap {
            float: none;
        }

        .ez-checkbox {
            float: left;
        }

        .downloads-active-filters {
            .active-filters {
                .active-filters-element {
                    margin: .5% 1%;
                    width: 31.3333%;

                    &:nth-child(3n), &:nth-child(4n), &:nth-child(5n) {
                        margin-right: 1%;
                    }
                }
            }
        }

        .downloads-leftFilters-new {
            .select-filter {
                margin: .5% 1%;
                width: 31.3333%;

                &:nth-child(3n), &:nth-child(4n), &:nth-child(5n) {
                    margin-right: 1%;
                }
            }
        }

        .results-panel {
            .results {
                .textWrapTitle, .textWrap {
                    &.fileName {
                        width: 35%;
                        padding-left: 9%;
                    }

                    &.fileType {
                        width: 24%;
                    }

                    &.product {
                        width: 38%;
                    }
                }

                /*.rightFloat {
                    display: block;
                    float: none;
                }*/

                .buttonDownload, 
                .mobileMoreInfo {
                    margin-top: 30px;
                    margin-bottom: 5px;
                    text-align: left;
                }

                .button {
                    box-sizing: border-box;
                    display: none;
                    margin-left: 0;
                    width: 100%;
                }

                .buttonDownload, 
                    .mobileMoreInfo {
                        position: absolute;
                        top: 20px;
                        right: 0px;
                    
                        .button {
                            display: inline-block;
                            text-indent: -9999px;
                            //background-image: url("/content/images/download-ico.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                            padding: 0;
                            width: 34px;

                            img {
                                display: block;
                                height: 30px;
                            }
                        }
                    }

                    .mobileMoreInfo {
                        cursor: pointer;
                        right: 40px;

                        span {
                            display: inline-block;
                            //background-image: url("/content/images/download-info-ico.png");
                            background-color: #444;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: 50%;
                        
                            img {
                                display: block;
                                height: 30px;
                                width: 30px;
                            }
                        }

                        &.active {
                            span {
                                background-color: #CCC;
                                //background-image: url("/content/images/download-info-active-ico.png");
                            }
                        }
                    }

                    #sm {
                        &.button {
                            display: none;
                        }
                    }
                }
            }

            .downloads-filters-new {
                padding: 4% 1%;

                .search {
                    width: 100%;

                input {
                    width: 80%;
                }

                input[type="submit"] {
                    float: right;
                }
            }
        }

        .downloads-filters-new {
            padding: 4% 1%;

            .search {
                width: 100%;

                input {
                    width: 80%;
                }

                input[type="submit"] {
                    float: right;
                }
            }
        }
    }
}

@media (max-width: 630px) {
    body:not(.pageeditor) {
        .downloads-active-filters {
            .active-filters {
                .active-filters-element {
                    margin: 0.5% 0;
                    width: 100%;
                }
            }
        }

        .downloads-leftFilters-new {
            .select-filter {
                width: 48%;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    body:not(.pageeditor) {
        .downloads-mainPanel {
            .textWrap {
                width: auto;
            }
        }

        .results-panel {
            .results {
                .empty {
                    width: 9%;
                }

                .textWrapTitle, .textWrap {

                }

                .ez-checkbox {
                    height: 40px;
                    margin: 0 3% 0 0;
                    width: 7%;
                    margin-right: -7%;

                    &.ez-checked {
                        background-size: contain;
                    }
                }

                .textWrap.typeFile {
                    margin-left: 10%;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    body:not(.pageeditor) {
        .results-panel {
            .results {
                .ez-checkbox {
                    height: 35px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body:not(.pageeditor) {
        .downloads-mainPanel {
            .textWrap {
                margin-bottom: 10px
            }
        }

        .downloads-filters {
            .downloads-leftFilters, 
            .downloads-rightFilters {
                button {
                    margin-left: 0 !important;
                }

                #sendEmailBtn {
                    margin-bottom: 10px;
                }
            }
        }

        .downloads-leftFilters {
            .styled-select-light.selectall {
                float: none;
                height: 30px;
            }
        }

        .results-panel {
            .results {
                .ez-checkbox {
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body:not(.pageeditor) {
        .downloads-leftFilters-new {
            .select-filter {
                margin: .5% 0;
                width: 100%;

                .checkbox-list {
                    .default-value {
                        background-position: 98% center;
                        padding: 15px 35px 15px 15px;
                    }
                }
            }
        }

        .small-filters {
            &.small-filters-new {
                .styled-select-light, 
                .downloads-rightFilters {
                    float: none;
                    height: auto;
                    width: 100%;
                }

                .styled-select-light {
                    margin-bottom: 15px;
                }
            }
        }

        .downloads-active-filters {
            .clear-all-active-filters {
                margin-bottom: 20px;
                float: right;
                position: relative;
                right: 0;
                top: 0;
            }
        }

        .downloads-active-filters {
            .clear-all-active-filters {
                margin-bottom: 20px;
                float: right;
                position: relative;
                right: 0;
                top: 0;
             }
        }

       .results-panel {
           .results {
               .buttonDownload, 
               .mobileMoreInfo {
                   top: 20px;
               }
           }
       }
    }
}

@media (max-width: 400px) {
    body:not(.pageeditor) {
        /*.downloads-mainPanel {
            .rightFloat {
                display: block;
                float: none;
                margin: 15px 0 0 !important;
                width: 100%;
            }

            .button {
                padding: 10px 0;
            }
        }*/

        .results-panel {
            .results {
                .ez-checkbox {
                    height: 25px;
                }
            }
        }
    }
}

@media (max-width: 340px) {
    body:not(.pageeditor) {
        .results-panel {
            .results {
                .ez-checkbox {
                    height: 20px;
                }
            }
        }

        .results-panel {
            .results {
                .ez-checkbox {
                    height: 25px;
                }
            }
        }
    }
}

@media (max-width: 340px) {
    body:not(.pageeditor) {
        .results-panel {
            .results {
                .ez-checkbox {
                    height: 20px;
                }
            }
        }
    }
}