.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	@include ss('tablet') {
		max-width: 720px;
	}
	@include ss('tablet-wide') {
		max-width: 940px;
	}
	@include ss('desk') {
		max-width: 1140px;
	}
	@include ss('desk-wide') {
		max-width: 1440px;
	}
	@include ss('hd') {
		max-width: 1640px;
	}
}
