*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

body {
	margin: 0;
	outline: none;
	padding: 0;
	font-family: 'kolo_book';
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s ease;
	&:hover {
		color: $colorGrey100;
	}
}

#koloPage {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
