@mixin centerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-box {
  @include centerItem;

  .box-content {
    @include centerItem;

    width: 172px;
    height: 274px;
    padding: 10px 10px 10px 10px;

    @include ss('tablet') {
      width: 235px;
      height: 355px;
      padding: 10px 20px 10px 20px;
    }

    @include ss('desk') {
      width: 275px;
      height: 395px;
    }

    background: $colorGrey0;
    border: 1px solid $colorGrey20;
    border-radius: 10px;

    .product-picture {
      @include centerItem;

      width: 150px;
      height: 132px;

      @include ss('tablet') {
        width: 208px;
        height: 208px;
      }

      @include ss('desk') {
        width: 244px;
        height: 244px;
      }

      overflow: hidden;
      border-radius: 10px;
    }

    .product-info {
      margin-top: 10px;
      font-size: 12px;
      line-height: 130%;


      @include ss('tablet') {
        font-size: 13px;
      }
      @include ss('desk') {
        font-size: 14px;
      }
      overflow: hidden;
    }

    .product-box-footer {
      margin-top: 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .product-prize {
        font-size: 14px;
        line-height: 145%;

        @include ss('tablet') {
          font-size: 18px;
        }
      }

      .product-id {
        font-size: 10px;
        line-height: 145%;
        color: $colorGrey60;

        @include ss('tablet') {
          font-size: 11px;
        }
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 5px 6px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.1);
    }
  }


}