.projects {
    padding-bottom: 20px;
}
/* ==========================================================================
PROJECTS JCAROUSEL LITE SLIDER
========================================================================== */

.gallery-nav-left,
.gallery-nav-right {
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 62px;
    position: absolute;
    top: 45%;
    width: 62px;
    z-index: 10;
    zoom: 1;
}

.projectsGalleryContener{
    overflow: hidden;
    position: relative;
}

.projectsGallery {
    float: left;
    overflow: hidden;
    position: relative;

    ul {
        width: 1000000px;

        li {
            float: left;

            img {
                /*width: 630px;*/
                height: auto;
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}

/* ==========================================================================
PROJECTS CAROUSEL DESCRIPTION ELEMENT
========================================================================== */

.projectsDesc {
    float: right;
    overflow: hidden;
    position: absolute;
    right: 0px;

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        width: 98%;
    }

    .project-desc ul li span,
    h3 {
        padding: 14px 0;
    }

    /*.project-desc ul li span {
        font-weight: bold;
        text-transform: uppercase;
    }*/

    .project-desc ul {
        > li span {
            display: block;
            float: left;
            width: 49%;
        }

        > li span:first-child {
            font-weight: bold;
            vertical-align: top;
        }
    }

    /* ==========================================================================
    PROJECTS CAROUSEL DESCRIPTION SCROLLBAR
    ========================================================================== */

    .scroll-pane {
        /*height: 273px;*/
        /*width: 100%;*/
        overflow: auto;

        .jspVerticalBar {
            margin-right: 10px !important;
        }

        .jspTrack {
            border-radius: 8px;
            padding: 0 4px;
        }

        .jspDrag {
            right: 4px;
        }

        .jspCapTop,
        .jspCapBottom {
            height: 20px;
            display: block;
        }
    }
}

/* ==========================================================================
PROJECTS FILTERS
========================================================================== */
.projects-filters {
    margin: 30px 0;
}

.left-projects-filters-wrapper {
    float: left;
    margin-top: 5px;
    padding: 0px 20px 20px 20px;
}

.right-projects-filters-wrapper {
    float: right;
    padding: 0px 20px 20px 20px;
}

/* ==========================================================================
PROJECTS REFERENCES
========================================================================== */
.projectsColumn {
    float: left;

    ul {
        list-style-type: disc;
        padding: 0 0 0 40px;
    }
}

.projectsBtnMore {
    text-align: center;

    button {
        margin-top: 20px;
        margin: 0 auto;
    }
}

/* ==========================================================================
@MEDIA QUERIES
*========================================================================== */

/* Large desktop display */
@media (min-width: 1380px) {
    body:not(.pageeditor) {
        .projectsDesc .scroll-pane {
            /*height: 344px;*/
            /*height: 100%;*/
        }
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {
    body:not(.pageeditor) {
        .projectsDesc {
            height: auto!important;
            position: relative;

            > * {
                margin-left: 10px;
                margin-right: 10px;
            }

            .project-desc {
                height: auto!important;
                width: auto!important;

                ul > li {
                    float: left;
                    width: 45%;

                    &:nth-child(2n+1) {
                        float: right;
                    }
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 767px) {
    body:not(.pageeditor) {
        .projectsDesc {
            height: auto!important;
            position: relative;

            > * {
                margin-left: 10px;
                margin-right: 10px;
            }

            .project-desc {
                height: auto!important;
                width: auto!important;
            }
        }

        .projectsGallery ul li img {
            height: auto;
            max-width: 100%;
            width: inherit;
        }

        .left-projects-filters-wrapper {
            display: none;
        }

        .right-projects-filters-wrapper{
            float: none;
            padding: 10px;
        }

        .small-filters.projects-filters {
            margin: 10px 0;
            padding: 0;
        }

        .projectsColumn ul li{
            padding: 10px;
        }
    }
}