.search-form {
	margin-left: auto;
	position: relative;
	.search-term {
		padding: 15px 30px 15px 10px;
	}
	.submit {
		height: 0;
		width: 0;
		border: none;
		outline: none;
		background-color: transparent;
		visibility: hidden;
		display: none;
		&-label {
			height: 100%;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0;
			top: 0;
			border-bottom-right-radius: $radius;
      border-top-right-radius: $radius;
      transition: all .3s ease;
      svg {
        path {
          transition: all .3s ease;
        }
      }
      &:hover {
        background: $colorGrey100;
        svg {
          path {
            fill: $colorGrey0;
          }
        }
      }
		}
	}
	.autoComplete {
		display: none;
	}
  &.rounded-input {
    .submit-label {
      border-bottom-right-radius: calc(1em + #{$inputPadding} * 2);
      border-top-right-radius: calc(1em + #{$inputPadding} * 2);
      border-bottom-left-radius: calc(1em + #{$inputPadding} * 2);
      border-top-left-radius: calc(1em + #{$inputPadding} * 2);
    }
    .search-term {
      border-radius: calc(1em + #{$inputPadding} * 2);
    }
  }
}

