/* ==========================================================================
 TIPS CATEGORY
 ========================================================================== */
.item-list {
    .tips-list {
        margin-left: 0;

        li {
            /*display: inline-block;*/
            cursor: pointer;
            float: left;
            overflow: hidden;
            margin: 10px 5px 0 5px;

            img {
                float: left;
            }

            .desc {
                float: right;

                h2 {
                    margin: 0;
                    padding: 20px 10px 5px 10px;
                }

                p {
                    padding: 0 10px 10px 10px;
                }
            }
        }
    }
}

/* ==========================================================================
 TIP PAGE
 ========================================================================== */
.tip-text {
    float: left;
}
/* ==========================================================================
 VIDEO PAGE
 ========================================================================== */
.video-text {
    float: left;
}

/*Mobile*/
@media (max-width: 767px) {
    body:not(.pageeditor) {
        .item-list {
            .tips-list {
                li {
                    margin: 1% 0;

                    &.large-12-border-mob,
                    &.large-12-border-mob img {
                        padding-left: 0;
                    }

                    &.large-12-border-mob .desc {
                        overflow: hidden;
                    }
                }
            }
        }
    }
}