@font-face {
	font-family: 'kolo_black';
	src: url('/content/fonts/kolo/koloblack-webfont.eot');
	src: url('/content/fonts/kolo/koloblack-webfont.eot?#iefix')
			format('embedded-opentype'),
		// /**/ url('/-/media/Fonts/koloblack-webfont.woff') format('woff'),
		/**/ url('/content/fonts/kolo/koloblack-webfont.ttf') format('truetype'),
		/**/ url('/content/fonts/kolo/koloblack-webfont.svg#kolo_black')
			format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kolo_bold';
	src: url('/content/fonts/kolo/kolobold-webfont.eot');
	src: url('/content/fonts/kolo/kolobold-webfont.eot?#iefix')
			format('embedded-opentype'),
		// /**/ url('/-/media/Fonts/kolobold-webfont.woff') format('woff'),
		/**/ url('/content/fonts/kolo/kolobold-webfont.ttf') format('truetype'),
		/**/ url('/content/fonts/kolo/kolobold-webfont.svg#kolo_bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kolo_book';
	src: url('/content/fonts/kolo/kolobook-webfont.eot');
	src: url('/content/fonts/kolo/kolobook-webfont.eot?#iefix')
			format('embedded-opentype'),
		// /**/ url('/-/media/Fonts/kolobook-webfont.woff') format('woff'),
		/**/ url('/content/fonts/kolo/kolobook-webfont.ttf') format('truetype'),
		/**/ url('/content/fonts/kolo/kolobook-webfont.svg#kolo_book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kolo_medium';
	src: url('/content/fonts/kolo/kolomedium-webfont.eot');
	src: url('/content/fonts/kolo/kolomedium-webfont.eot?#iefix')
			format('embedded-opentype'),
		// /**/ url('/-/media/Fonts/kolomedium-webfont.woff') format('woff'),
		/**/ url('/content/fonts/kolo/kolomedium-webfont.ttf') format('truetype'),
		url('/content/fonts/kolo/kolomedium-webfont.svg#kolo_medium') format('svg'); /**/
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'kolo_light';
	src: url('/content/fonts/kolo/kololight-webfont.eot');
	src: url('/content/fonts/kolo/kololight-webfont.eot?#iefix')
			format('embedded-opentype'),
		// /**/ url('/-/media/Fonts/kololight-webfont.woff') format('woff'),
		/**/ url('/content/fonts/kolo/kololight-webfont.ttf') format('truetype'),
		/**/ url('/content/fonts/kolo/kololight-webfont.svg#kolo_light')
			format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h1 {
  font-family: 'kolo_bold';
	font-size: 22px;
	line-height: 1.3em;
  margin-bottom: 0.85em;
	@include ss('tablet') {
		font-size: 28px;
	}
	@include ss('desk') {
		font-size: 36px;
		letter-spacing: -0.02em;
	}
}

h2 {
  font-family: 'kolo_bold';
	font-size: 22px;
	line-height: 1.3em;
  margin-bottom: 1em;
	@include ss('tablet') {
		font-size: 25px;
	}
	@include ss('desk') {
		font-size: 32px;
		letter-spacing: -0.02em;
	}
}

h3 {
	font-size: 20px;
	line-height: 1.3em;
	@include ss('tablet') {
		font-size: 22px;
	}
	@include ss('desk') {
		font-size: 26px;
		letter-spacing: -0.01em;
	}
}

h4 {
	font-size: 18px;
	line-height: 1.3em;
	@include ss('tablet') {
		font-size: 20px;
	}
	@include ss('desk') {
		font-size: 22px;
		letter-spacing: -0.01em;
	}
}

h5 {
	font-size: 16px;
	line-height: 1.3em;
	@include ss('tablet') {
		font-size: 18px;
	}
	@include ss('desk') {
		font-size: 19px;
		letter-spacing: -0.01em;
	}
}

h6 {
	font-size: 14px;
	line-height: 1.3em;
	@include ss('tablet') {
		font-size: 15px;
	}
	@include ss('desk') {
		font-size: 16px;
	}
}

strong, b {
  font-family: 'kolo_bold';
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.paragraph {
	font-weight: 400;
	line-height: 1.45em;
	&-small {
		font-size: 12px;
		@include ss('tablet') {
			font-size: 12px;
		}
		@include ss('desk') {
			font-size: 13px;
		}
	}
	&-reg {
		font-size: 14px;
		@include ss('tablet') {
			font-size: 14px;
		}
		@include ss('desk') {
			font-size: 15px;
		}
	}
	&-big {
		font-size: 15px;
		@include ss('tablet') {
			font-size: 16px;
		}
		@include ss('desk') {
			font-size: 17px;
		}
	}
	& > a {
		font-weight: 600;
		text-decoration: underline;
	}
}

ul,
ol {
	li {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.45em;
		@include ss('tablet') {
			font-size: 14px;
		}
		@include ss('desk') {
			font-size: 15px;
		}
	}
}

table {
	th {
		font-size: 14px;
		font-weight: 400;
		background-color: $colorGrey100;
		color: $colorGrey0;
		letter-spacing: 0.01em;
		line-height: 1.5em;
		@include ss('desk') {
			font-size: 15px;
		}
	}
	td {
		font-size: 14px;
		font-weight: 400;
		color: $colorGrey100;
		letter-spacing: 0.01em;
		line-height: 1.5em;
		@include ss('desk') {
			font-size: 15px;
		}
	}
}
