.scfForm, 
.googleMapNew {
    background: #FFF;
    width: auto;

    .scfCheckBoxListGeneralPanel {
        width: auto;
    }

    &.orderBroschureForm {
        padding: 20px;

        * {
            box-sizing: border-box;
        }

        .scfDropListLabel, .scfEmailLabel, .scfMultipleLineTextLabel, .scfSingleLineTextLabel, 
        .scfPasswordLabel, .scfNumberLabel, .scfDatePickerLabel, .scfDateLabel, .scfRadioButtonListLabel, 
        .scfCheckBoxListLabel, .scfListBoxLabel, .scfFileUploadLabel, .scfDateSelectorLabel, .scfCreditCardLabel, 
        .scfConfirmPasswordLabel, .scfCaptchaLabel, .scfTelephoneLabel, .scfSmsTelephoneLabel {
            width: auto;
        }

        .scfEmailTextBox, .scfSingleLineTextBox, .scfPasswordTextBox, .scfNumberTextBox, .scfDatePickerTextBox, 
        .scfDateTextBox, .scfRadioButtonList, .scfListBox, .scfCheckBoxList, .scfFileUpload, .scfCreditCardTextBox, 
        .scfCreditCardType, .scfConfirmPasswordTextBox, .scfTelephoneTextBox, .scfSmsTelephoneTextBox {
            margin: 0;
            width: 100%;
        }

        .scfEmailGeneralPanel, .scfMultipleLineGeneralPanel, .scfSingleLineGeneralPanel, .scfPasswordGeneralPanel, 
        .scfNumberGeneralPanel, .scfDatePickerGeneralPanel, .scfDateGeneralPanel, .scfRadioButtonListGeneralPanel, 
        .scfCheckBoxListGeneralPanel, .scfFileUploadGeneralPanel, .scfDateSelectorGeneralPanel, .scfCreditCardGeneralPanel, 
        .scfConfirmPasswordGeneralPanel, .scfCaptchaGeneralPanel, .scfTelephoneGeneralPanel, .scfSmsTelephoneGeneralPanel {
            display: block;
            float: left;
            margin: 0 3px;
            padding: 0 2px 0 0;
            width: 60%;
        }

        .scfDropListLabel, .scfEmailLabel, .scfMultipleLineTextLabel, .scfSingleLineTextLabel, .scfPasswordLabel, .scfNumberLabel, 
        .scfDatePickerLabel, .scfDateLabel, .scfRadioButtonListLabel, .scfCheckBoxListLabel, .scfListBoxLabel, .scfFileUploadLabel, 
        .scfDateSelectorLabel, .scfCreditCardLabel, .scfConfirmPasswordLabel, .scfCaptchaLabel, .scfTelephoneLabel, .scfSmsTelephoneLabel {
            clear: both;
            display: block;
            float: none;
            padding: 3px 0;
            width: 100%;
        }

        .fieldWrapper {
            margin-bottom: 15px !important;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .scfSingleLineGeneralPanel, 
        .scfSectionBorderAsFieldSet {
            width: 75%;
        }

        .requiredStyle {
            float: left;
            margin-left: 1%;
            width: 20%;
        }

        .GdprLink {
            display: block;
            margin: 15px 0;
        }
    }

    h1 {
        /*font-size: 16px;
        font-family: 'futura_bookregular';
        text-transform: uppercase;
        font-weight: normal;
        padding: 15px 10px;
        margin: 0;*/
        display: none;
    }

    .scfCheckbox {
        label {
            display: block;
            font-size: 10px;
            line-height: 1.6;
            padding-left: 35px;
            padding-top: 8px;
            text-transform: uppercase;
        }

        &.gdpr {
            label {
                float: left;
                max-width: 70%;
                padding-left: 15px;
                width: auto;
            }
        }

        .ez-checkbox {
            background-color: #FFF;
            border: 1px solid #686869;
            height: 18px;
            margin: 5px 0 0;
            position: relative;
            width: 18px;

            &.ez-checked::after {
                background-color: #686869;
                border: none;
                content: "";
                height: 10px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
            }
        }
    }

    input[type=text], 
    input[type=password], 
    .selectLight .passiveSelect, 
    .selectLight .activeSelect {
        height: 40px;
        line-height: 40px;
        background: #fff;
        padding: 0 10px;
    }

    .panel input[type="text"], 
    .panel .selectStyle, 
    input[type=text],
    input[type=password],  
    .scfListBoxGeneralPanel, .scfDropListGeneralPanel, 
    .scfDateSelectorGeneralPanel .selectLight, 
    textarea, 
    .scfCaptcha img, 
    .selectLight {
        border: 1px solid #686868;
        font-family: inherit;
    }

    .scfListBoxGeneralPanel, .scfDropListGeneralPanel {
        box-sizing: border-box;
    }

    textarea {
        display: block;
        font-family: inherit;
        font-size: inherit;
        height: 100px;
        margin-bottom: 5px;
        padding: 10px;
    }

    .scfRadioButtonListGeneralPanel {
        table {
            tr {
                td {
                    display: inline-block;
                    margin-right: 30px;
                    width: auto;
                }
            }
        }
    }

    .scfEmailGeneralPanel, .scfMultipleLineGeneralPanel, .scfSingleLineGeneralPanel, .scfPasswordGeneralPanel, .scfNumberGeneralPanel, 
    .scfDatePickerGeneralPanel, .scfDateGeneralPanel, .scfRadioButtonListGeneralPanel, .scfCheckBoxListGeneralPanel, .scfFileUploadGeneralPanel, 
    .scfDateSelectorGeneralPanel, .scfCreditCardGeneralPanel, .scfConfirmPasswordGeneralPanel, .scfCaptchaGeneralPanel, .scfTelephoneGeneralPanel, 
    .scfSmsTelephoneGeneralPanel, .scfListBoxGeneralPanel, .scfDropListGeneralPanel {
        margin-bottom: 10px;
        padding: 0;
        position: relative;
        width: 97.5%;
    }

    .scfDropListGeneralPanel {
        border: none;
        margin-bottom: 20px;

        input {
            height: 40px;
            line-height: 40px;
        }

        .scfDropListUsefulInfo {
            margin-top: 2px;
            padding: 0;
            position: absolute;
        }
    }

    .scfSubmitButton {
        margin-bottom: 0;
    }

    .scfFileUploadGeneralPanel {
        box-sizing: border-box;
        display: block;
        margin-bottom: 25px;
    }

    /* STYLED INPUT FILE */
    .custom-file-upload-hidden {
        display: none;
        visibility: hidden;
        position: absolute;
        left: -9999px;
    }

    .scfFileUploadGeneralPanel label {
        display: block;
        margin-bottom: 5px;
    }

    .file-upload-wrapper {
        position: relative;
        margin-bottom: 5px;
    }

    .file-upload-input {
        color: #999;
        font-size: 14px;
        padding: 11px 17px;
        border: none;
        font-family: kolo_medium;
        background-color: #c0392b;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        width: 70%;
        float: left;
        /* IE 9 Fix */
    }

    .file-upload-input:hover, .file-upload-input:focus {
        background-color: #f0f0f0;
        outline: none;
    }

    .file-upload-wrapper  {
        input.file-upload-input {
            margin-bottom: 10px;
        }
    }

    .file-upload-button {
        cursor: pointer;
        display: inline-block;
        /*color: #fff;*/
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 10px 9px;
        border: none;
        float: right;
        line-height: 21px;
        /* IE 9 Fix */
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        width: 28%;
    }

    .file-upload-button:hover {
        background-color: #000;
        color: #FFF;
    }

    .scfRadioButtonListGeneralPanel {
        label {
            padding-left: 10px;
        }
    }

    .scfDateSelectorGeneralPanel {
        .selectLight {
            float: left;
            margin-right: 0.5%;
            width: 32.68%;

            &:last-of-type {
                margin: 0;
            }
        }
    }

    .selectLight {
        background-image: url("/content/images/arrowBlackNew.png");
        background-position: 99% center;
        background-repeat: no-repeat;
        font-size: 14px;

        .activeSelect, 
        li {
            color: #000;
            font-size: 14px;
        }

        li {
            /*margin: 0 18px 0 0;*/
            margin: 0;
            padding: 4px 0 4px 10px;

            &:hover {
                color: #FFF;

                .selected {
                    color: #FFF;
                } 
            }
        }
    }

    .scfDateSelectorGeneralPanel {
        .scfDateSelectorShortLabelDay, 
        .scfDateSelectorShortLabelMonth, 
        .scfDateSelectorShortLabelYear {
            display: inline-block;
            width: 33% !important;
        }

        .selectLight {
            background-position: 97% center;
        }
    }

    .scfRadioButtonList, 
    .scfDateSelectorGeneralPanel {
        label {
            font-size: 14px;
        }
    }

    .scfDateSelectorGeneralPanel {
        label {
            margin-right: .5%;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

.filterCityName {
    margin-bottom: 20px;
}

.select-from-list .label, 
.filterRetailerType .filter-retailertypes-label {
    font-weight: 700;
}

.jspScrollable {
    .jspPane {
        left: 0;
        right: 25px;
        width: auto !important;
    }
}

.scfForm label,
.scfCaptchaLabel, 
.scfDateSelectorLabel, 
.scfForm .scfRadioButtonListLabel, 
.scfForm .scfDateSelectorLabel {
    float: none;
    font-size: 14px;
    line-height: 1.7;
    width: 100%;
}

/*header on kolo-pl-new contact page*/
.scfIntroBorder {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.scfSectionContent {
    box-sizing: border-box;
    padding: 20px;

    > div {
        clear: both;
    }
}

/*Contact Us start*/
.scfSectionBorderAsFieldSet {
    border: 0! important;
    margin: 0! important;
    clear: both;

    .scfSectionContent {
        padding: 0;

        /*label {
            width: 30% !important;
        }*/
    }
} 

/*.longerCentered .scfSectionBorderAsFieldSet .scfSectionContent label,
.scfSectionBorderAsFieldSet .scfSectionContent span.scfRadioButtonListLabel {
    width: 12% !important;
}*/

.longerCentered {
    .scfSectionBorderAsFieldSet {
        padding: 0 0 0 15px;

        .scfSectionContent {
            /*.scfMultipleLineTextBorder {
                label {
                    width: 30% !important;
                }
            }*/

            /*.scfSingleLineGeneralPanel, 
            .scfDropListGeneralPanel {
                width: 80.5%;
                margin-left: 2.5%;
            }*/

            .scfMultipleLineGeneralPanel {
                width: 65%;
            }

            .scfCheckbox {
                input {
                    margin-right: 1%;
                }

                .ez-checkbox {
                    background-color: #fff;
                }
            }
        }
    }
}

.emailAlign .scfEmailGeneralPanel {
    line-height: 60px;
    vertical-align: middle;
}

/*Contact Us end*/
.scfRequired {
    display: block;
    float: left;
    margin: 0;
    padding: 0 0 0 .5%;
    width: 2%;
}

.lt-ie8 {
    .longerCentered {
        .scfSectionBorderAsFieldSet {
            .scfSectionContent {
                .scfSingleLineGeneralPanel {
                    margin-left: 1%;
                }
            }
        }
    }

    .scfRequired {
        float: none;
        z-index: 100;
        margin-left: 0 !important;
        margin-right: 10px;
    }

    .scfDropListGeneralPanel {
        width: 374px;
        padding: 0 8px 0 10px;
    }
}

.scfCaptchaGeneralPanel td input {
    white-space: nowrap;
}

.scfCaptcha {
    div {
        background-color: transparent !important;
    }
}

.scfSubmitButtonBorder input {
    padding: 10px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    margin-top: 20px 0 20px 20px;
}

.scfValidator,
.scfValidationSummary {
    padding: 10px 0;
}

.scfValidationSummary {
    padding-left: 7px;
}

.scfValidatorRequired {
    float: none !important;
    margin-left: 5px !important;
}

.scfSubmitButtonBorder {
    padding-left: 20px;
    padding-bottom: 20px;
}

.scfMultiBlock {
    .scfMultipleLineTextLabel {
        width: auto !important;
    }

    .scfMultipleLineGeneralPanel {
        float: left;
        width: 94%;
    }

    .scfRequired {
        float: left;
    }

    .scfCaptchaLabel {
        display: none;
    }
}

/*.scfFileUploadGeneralPanel {
    position: absolute;
    color: #fff;
    background-color: #37424a;
    cursor: pointer;
    border: 0;
    padding: 8px 10px;
    width: 41px;
    height: 15px;
}

.scfFileUploadGeneralPanel::before {
    content: 'TEXT';
}

    .scfFileUploadGeneralPanel input {
        z-index: 2;
        position: relative;
        opacity: 0;
        filter: alpha(opacity=0);
    }*/

.scfFooterBorder {
    clear: both;
    padding: 0 15px 15px 15px;
}


/* ==========================================================================
 ORDERING BROCHURES
 ========================================================================== */

.form {
    background-color: #c5c4c0;
    padding: 20px;

    .formTitle h3 {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .formWrapper {
        background: inherit;
    }

    .fieldWrapper {
        padding: 1.5% 2%;
        clear: both;
        line-height: 46px;
        height: 32px;
        overflow: hidden;

        input[type="text"], 
        input[type="password"] {
            height: 26px;
            line-height: 40px;
        }

        &.whoiam {
            overflow: visible;
        }

        .styleSelect_item span {
            line-height: normal;
        }

        &.email, 
        &.confirmEmail {
            line-height: 16px;
            position: relative;

            .required {
                height: 40px;
                line-height: 40px;
            }

            .invalidValue {
                float: left;
                margin-left: 14px;
                position: absolute;
                top: 40px;
            }
        }

        > div,
        input {
            display: inline;
        }

        > div {
            float: left;
            width: 20%;
        }

        input {
            border: 0;
            box-sizing: border-box;
            float: left;
            width: 50%;
            padding: 9px;
        }

        > .required {
            margin-left: 14px;
            float: left;
            opacity: 0.5;
            filter: alpha(opacity=50);
            position: absolute;
        }

        > .required.invalidValue {
            opacity: 1;
            /*background: inherit;*/
        }

        &.scfCheckbox {
            height: auto;

            a {
                clear: both;
                display: block;
                padding-left: 35px;
            }
        }
    }

    .NotEqualValues {
        display: inline-block;
        float: right;
        position: relative;
        top: -61px;
    }

    .buildingNo,
    .postalCode {
        input {
            width: 25%;
        }
    }

    .whoiam {
        position: relative;
        /*top: -20px;*/

        .selectLight {
            width: 29.25%;
        }
    }

    input[type='submit'] {
        margin: 20px 0 0 21%;
    }
}

/* ==========================================================================
 @MEDIA QUERIES
 *========================================================================== */
/* Large desktop display */
@media (min-width: 1380px) {
    .applyJob {
        .scfCaptchaGeneralPanel {
            margin-left: 194px;
        }

        .scfForm .scfSubmitButton {
            margin-left: 159px;
        }
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {}

/* Mobile */
@media (max-width: 767px) {
    .scfForm label,
    .scfCaptchaLabel,
    .scfSectionBorderAsFieldSet .scfSectionContent label,
    .longerCentered .scfSectionBorderAsFieldSet .scfSectionContent label,
    .scfSectionBorderAsFieldSet .scfSectionContent span.scfRadioButtonListLabel,
    .longerCentered .scfSectionBorderAsFieldSet .scfSectionContent .scfMultipleLineTextBorder label, 
    .scfCaptchaLabel, .scfDateSelectorLabel, .scfRadioButtonListLabel, .scfDateSelectorLabel, 
    .scfRadioButtonList label, .scfDateSelectorGeneralPanel label {
        font-size: 14px;
        line-height: 15px;
        width: 100% !important;
    }

    .scfSubmitButtonBorder {
        input {
            margin-left: 0;
        }
    }

    .emailAlign .scfEmailGeneralPanel {
        line-height: 1;
    }

    .longerCentered .scfSectionBorderAsFieldSet .scfSectionContent {
        .scfSingleLineGeneralPanel, 
        .scfDropListGeneralPanel {
            width: 94%!important;
            margin-left: 0px;
        }
    }

    .scfRadioButtonListGeneralPanel {
        margin-left: 0;

        table {
            tr {
                td {
                    padding: 5px 0;
                }
            }
        }
    }

    .scfForm {
        .scfDateSelectorGeneralPanel {
            .selectLight {
                width: 32.24%;
            }
        }

        .selectLight {
            li {
                line-height: 40px;
            }
        }
    }

    /* ==========================================================================
     ORDERING BROCHURES
     ========================================================================== */

    .form {
        .formWrapper {
            width: 100%;
        }

        .fieldWrapper,
        .fieldWrapper.confirmEmail,
        .fieldWrapper.confirmEmail .required,
        .fieldWrapper span {
            line-height: 2;
            height: auto;
        }

        .fieldWrapper {
            padding: 0;
            overflow: hidden;
            height: 64px;
            position: relative;

            > div, 
            input {
                display: block;
            }

            > div {
                width: auto;
            }

            input {
                width: 100%;
            }

            > div.required {
                position: static;
                float: none;
                padding-left: 10px;
            }

            > span {
                display: inline-block;
                position: relative;
                padding-left: 0px;
                right: 5px;
            }

            > span,
            > .required {
                text-transform: lowercase;

                &::before {
                    content: '(';
                }

                &::after {
                    content: ')';
                }
            }

            > span.required {
                position: absolute;
                top: auto;
                vertical-align: middle;
                line-height: 32px;

                &.required.invalidValue {
                    top: 32px;
                }
            }
        }

        .buildingNo,
        .postalCode {
            width: 55%;

            input {
                width: 85%;
            }
        }

        .whoiam {
            div:first-child,
            .selectLight {
                display: block;
                float: none;
            }

            .selectLight {
                width: 100%;
                padding: 3px 9px 5px 9px;

                > span {
                    padding-left: 0;
                }
            }
        }

        input[type='submit'] {
            margin-left: 0;
        }

        .NotEqualValues {
            position: static;
            float: right;
        }
    }
}

@media (max-width: 650px) {
    .scfForm {
        .file-upload-button, 
        .file-upload-input {
            float: none;
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .scfForm {
        .selectLight.selectLight {
            background-size: 22px !important;
        }
    }
}

//fix for forms across pages  - unified font-size//
.scfForm {
    input, textarea, .selectLight .activeSelect, .selectLight li span {
        font-size: 14px;
    }
    @media screen AND (max-width: 650px){
        input, textarea, .selectLight .activeSelect, .selectLight li span {
            font-size: 14px;
        }
        .file-upload-wrapper{
            input {
                margin-bottom: 5px;
            }
        }
    }
    @media screen AND (max-width: 480px){
        .selectLight.selectLight {
            background-size: 13px;
        }
    }
}