.filters ul li .styled-select {
    width: 100%;
    /*max-width: 200px;*/
}

.tempSelect select {
    visibility: hidden;
    height: 31px;
}
/*------------------ selectDark -----------------*/

.selectDark .styleSelect_item {
    width: 100%;
    /*max-width: 200px;*/
}

.selectDark .styleSelect_item_start {
    height: 8px;
    margin-top: 6px;
}

.selectDark .styleSelect_item_content {
    height: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.selectDark .styleSelect_item_end {
    height: 8px;
}

.selectDark {
    z-index: 2!important;
    outline: none;  
}

    .selectDark .passiveSelect, .selectDark .activeSelect {
        height: 31px;
        line-height: 31px;
        display: block;
        cursor: pointer;
        padding-left: 10px;
        clear: both;
        /*overflow:hidden;*/
        /*margin-right: 10px;*/
    }

.tempSelect {
    height: auto!important;
    display: block;
    cursor: pointer;
}

.selectDark ul {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.selectDark li {
    padding: 0;
    font-weight: normal; /*color:#aeaeae;*/
    margin: 4px 6px 4px 6px;
    padding: 2px 2px;
}

    .selectDark li:hover { /*color:#fff;*/ /*background:#cb5057;*/
    }

.selectDark .selected {
    color: #686869;
}

/*------------------ selectLight -----------------*/

.selectLight {
    background: #fff;
    font-size: 12px;
    z-index: 2!important;
    outline: none;

    .styleSelect_item {
        width: 99.9%;
    }

    .styleSelect_item_start {
        height: 8px;
        background: #fff;
        border-left: 1px solid #686868;
        border-right: 1px solid #686868;
        border-top: 1px solid #686868;
        margin-left: -1px;
        margin-top: 14px;
        width: 100.1%;
    }

     .styleSelect_item_content {
        background: #fff;
        border-left: 1px solid #686868;
        border-right: 1px solid #686868;
        height: 140px;
        margin-left: -1px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
    }

    .styleSelect_item_end {
        background: #fff;
        border-bottom: 1px solid #686868;
        border-left: 1px solid #686868;
        border-right: 1px solid #686868;
        height: 8px;
        margin-left: -1px;
        width: 100.1%;
    }

    .passiveSelect, .activeSelect {
        height: 31px;
        line-height: 31px;
        display: block;
        cursor: pointer;
        padding-left: 10px;
    }

    .passiveSelect {
        background: url("../images/darkArrow.png") no-repeat right center;
        color: #686869;
        display: table-cell;
        line-height: 1.3;
        padding: 2px 0 2px 10px;
        vertical-align: middle;
    }

    .activeSelect {
        //background: url("../images/darkArrow.png") no-repeat top right;
        color: #686869;
        display: table-cell;
        line-height: 1.3;
        padding: 2px 0 2px 10px;
        vertical-align: middle;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        cursor: pointer;
    }

    li {
        padding: 0;
        font-weight: normal;
        color: #686869;
        margin: 4px 18px 4px 6px;
        padding: 2px;

        &:hover {
            color: #fff; /*background:#cb5057;*/
        }
    }

    .selected {
        color: #686869;
    }
}

.styled-select-light, 
.style-select {
    .selectLight {
        background: #fff url("../images/darkArrow.png") no-repeat right center;
        padding: 0 19px 0 0;
    }
}

.email-updates-form {
    .selectLight {
        .activeSelect {
            height: 30px;
            padding: 0 0 0 10px;
        }
    }
}

/*------------------ otherStyles -----------------*/

.select {
    padding: 20px;
    float: left;
}

.clear {
    clear: both;
}



/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    margin-right: 15px;
    height: 100%;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
}

.jspVerticalBar,
.jspHorizontalBar {
    * {
        margin: 0;
        padding: 0;
    }
}

.jspCap {
    display: none;
}

.jspHorizontalBar {
    .jspCap {
        float: left;
    }
}

.jspTrack {
    background: #a3a3a3;
    position: relative;
}

.jspDrag {
    background: #5781ae;
    position: relative;
    top: 0;
    right: 3px;
    cursor: pointer;
    width: 8px;
    border-radius: 8px;
}

.jspHorizontalBar {
    .jspTrack,
    .jspDrag {
        float: left;
        height: 100%;
    }
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;

    &.jspDisabled {
        cursor: default;
        background: #80808d;
    }
}

.jspVerticalBar {
    .jspArrow {
        height: 16px;

        &:focus {
            outline: none;
        }
    }
}

.jspHorizontalBar {
    .jspArrow {
        width: 16px;
        float: left;
        height: 100%;
    }
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0;
}

/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-checkbox input.ez-hide, 
.ez-hide {
    opacity: 0;
    filter: alpha(opacity=0);
    display: none !important;
}

.ez-checkbox { /*background: #fff;*/
    display: block;
    width: 19px;
    height: 19px;
    float: left;
    margin: 10px;
    cursor: pointer;

    input {
        cursor: pointer;
    }
}

.selectall {
    .ez-checkbox {
        background-color: #63676a;
        float: left;
        margin: 10px 5px 0 0;

        & + label {
            span {
                &.On {
                    display: inline;
                }

                &.Off {
                    display: none;
                }
            }
        }

        &.ez-checked {
            background-color: #000;
            border-color: #63676a;

            & + label {
                span {
                    &.On {
                        display: none;
                    }

                    &.Off {
                        display: inline;
                    }
                }
            }
        }
    }

    .textWrap {
        display: inline-block;
        cursor: pointer;
        float: left;
        margin: 10px 2px;
    }
}

.brochures-list {
    .ez-checkbox {
        margin: 5px;
    }
}

span.styleCheckbox.ez-hide {
    display: inline-block;
    opacity: 1;
    width: 20px !important;
}

.ez-radio {
    background: transparent url('/content/images/myListRadio.png');
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 10px;
    cursor: pointer;

    &.ez-selected {
        background: transparent url('/content/images/myListRadio-selected.png');
    }
}

.ez-checked { /*background: #5781ae;*/
    width: 9px;
    height: 9px;
    border: 5px solid #fff;
}

.ez-selected {
    background-position: 0 -19px;
}

.ez-checkbox-green {
    /*background: transparent url('../images/checkbox-green.png') 0 1px no-repeat;*/
    display: inline-block;
    *display: inline;
}

.ez-checked-green {
    background-position: 0 -18px;
}

.ez-checkbox, .ez-radio {
    zoom: 1;
    *display: inline;
    _height: 30px;
}

.myListCheckbox {
    width: 13px;
    height: 13px;
    border: 2px solid #37424a;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.myListCheckbox-checked {
    background: url('/content/images/myListCheckbox.png');
}
/**
 * CSS File for checkboxs-list plugin
 *
 **/

.checkbox-list {
    position: relative;
}

.lt-ie8 {
    .checkbox-list {
        position: static;
    }
}

.checkbox-list {
    .default-value {
        height: 31px;
        line-height: 31px;
        display: block;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        background-image: url("/content/images/darkArrow.png");
        background-repeat: no-repeat;
        background-position: top right;
        overflow: hidden;
    }
}

.checkboxes-content {
    margin-top: 1px;
    position: absolute;
    width: 100%; /*background: #aaa;*/
    display: none;
    z-index: 10;
}

.checkboxes {
    height: 140px;

    ul {
        li {
            cursor: pointer;

            label {
                cursor: pointer;
            }

            &.disable-checkbox {
                cursor: auto;

                label {
                    cursor: auto;
                }

                .ez-checkbox {
                    cursor: auto;
                }
            }

            label {
                line-height: 25px;
            }

            button {
                display: block;
            }
        }
    }

    .ez-checkbox {
        width: 19px;
        height: 19px;
        margin: 3px 9px 3px 10px;
    }

    .ez-checked {
        width: 9px;
        height: 9px;
    }
}

.checkboxes-start,
.checkboxes-end {
    height: 8px;
}

/**
 * CSS for no-name selects
 *
 **/

/**
* Hide lists on page load
---------------------------------------------------------*/

.stylish-select .SSContainerDivWrapper {
    left: -9999px;
}

/*
* Red example
---------------------------------------------------------*/
.stylish-select {
    .SSContainerDivWrapper {
        margin: 0;
        padding: 0;
        width: 290px;
        position: absolute;
        top: 22px;
        left: 0;
        z-index: 2;
    }

    ul.newList {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #000;
        background: #fff;
        border: 1px solid #ccc;

        * {
            margin: 0;
            padding: 0;
        }

        a {
            color: #000;
            text-decoration: none;
            display: block;
            padding: 3px 8px;
        }

        li a:focus {
            -moz-outline-style: none;
        }
    }

    .newListSelected {
        width: 285px;
        color: #000;
        height: 19px;
        padding: 3px 0 0 6px;
        float: left;
        background: url(../images/select-bg.png) no-repeat;
    }

    .selectedTxt {
        height: 16px;
        overflow: hidden;
        padding: 0 23px 0 0;
        width: 258px;
    }

    .hiLite {
        background: #650101!important;
        color: #fff!important;
    }

    .newListHover {
        background: #ccc!important;
        color: #000!important;
        cursor: default;
    }

    .newListDisabled {
        opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    }

    .newListItemDisabled {
        opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    }

    .newListOptionDisabled {
        opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    }

    .newListSelHover,
    .newListSelFocus {
        background-position: 0 -22px;
        cursor: default;
    }

    .newListOptionTitle {
        font-weight: bold;

        ul {
            margin: 3px 0 0;
        }

        li {
            font-weight: normal;
        }
    }
}

.ie9 {
    .checkboxes-content {
        min-width: 100% !important;
    }
}