input {
  &[type="text"], &[type="password"], &[type="number"] {
    background: $colorGrey0;
    border: 1px solid $colorGrey30;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    color: $colorGrey100;
    &::placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
      color: $colorGrey30;
      font-size: 16px;
    }
    transition: all 0.3s ease;
    &:not(.disabled):hover {
      border-color: $colorGrey80;
    }
    &:focus {
      border-width: 2px;
      border-color: $colorGrey100;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
    .error > &, .error {
      border-color: $colorError;
      border-width: 2px;
      background-color: $colorErrorLight;
      color: $colorError;
    }
    .disabled {
      border-color: $colorGrey10;
      background-color: $colorGrey10;
    }
  }
}
